* {
	margin: 0;
	padding: 0;
}

nav {
	margin: auto;
	text-align: center;
	width: 100%;
}

nav ul {
	background: black;
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
}

nav ul li{
	float: left;
}

nav ul li:hover{
	background: #ffff;
}

.active{
	background: blue;
}

nav ul li active a{
	
}

nav ul li:hover a{
	color: #000000;
}

nav ul li a{
	display: block;
	padding: 25px;
	color: #ffff;
	text-decoration: none;
}

.formm{
	margin: 10px;
	padding: 10px;
}

.atas{
	margin: 5px;
	padding: 5px;
}

.atas1{
	margin: 5px;
	padding: 5px;
}